body {
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  background: $light !important;
  background-size: cover;
  color: $black !important;
  backface-visibility: hidden;
}

html, body {
  overflow-x: hidden;
  min-height: 100vh;
  scroll-behavior: smooth;
}
