body {
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  background: $light;
  background-size: cover;
  color: $dark;
  backface-visibility: hidden;
  @media (prefers-color-scheme: dark) {
    background: $black;
    color: $light;
  }
}

html, body {
  overflow-x: hidden;
  min-height: 100vh;
  scroll-behavior: smooth;
}
